@media only screen and (min-width: 992px){
  .leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-polyline {
    background-position: 2px 2px !important;
  }
  .leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-polygon {
    background-position: -28px 2px !important;
  }
  .leaflet-draw-toolbar .leaflet-bar .leaflet-draw-toolbar-top {
    display: none !important;
  }
  .leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-circlemarker {
    background-position: -269px 2px !important;
}
  .leaflet-container .leaflet-control-attribution {
    display: none;
  }
  .draw_feature {
    top: 92%;
    left: 57%;
    position: fixed;
    height: 37px;
    width: 37px;
    border: 2px solid #2b13bb;
    border-radius: 5px 5px 5px 5px;
  }
  .custom-button {
    width: auto;
    padding: 7px 5px;
    background-color: #fff;
    /* color: darkblue; */
    font-weight: bold;
    font-size: 9px !important;
    border: 2px solid #2b13bb;
    border-radius: 5px !important;
    cursor: pointer;
    position:fixed !important;
    top: 90.500% !important;
    left: 59.80% !important;
    height: 37px !important;
    width: 37px !important;
    z-index: 1000 !important;
    transition: background-color 0.1s;
  }
 
  .leaflet-draw-draw-polyline {
    top: 92%;
    position: fixed!important;
    left: 53.200% !important;
    border: 2px solid #2b13bb !important;
    border-bottom: 2px solid darkblue;
    height: 37px !important;
    width: 37px !important;
    /* display: none !important; */
    border-radius: 5px 5px 5px 5px !important;
  }
  .leaflet-draw-draw-polygon {
    left: 49.40% !important;
    position:fixed!important;
    top: 92%!important;
    height: 37px !important;
    width: 37px !important;
    border-bottom: 2px solid #2b13bb !important;
    border-top: 2px solid #2b13bb !important;
    border-left: 2px solid #2b13bb !important;
    border-right: 2px solid #2b13bb !important;
    border-radius: 5px 5px 5px 5px !important;
  }
  .leaflet-draw-draw-circlemarker {
    position: fixed;
    top: 92%;
    left: 49.5%;
    border-bottom: 2px solid #2b13bb !important;
    border-top: 2px solid #2b13bb !important;
    border-left: 2px solid #2b13bb !important;
    border-right: 2px solid #2b13bb !important;
    border-top: none;
    width: 37px !important;
    height: 37px !important;
    border-radius: 5px 5px 5px 5px !important;
  }
  #save-button {
    /* border: 2px solid rgb(187, 187, 187); */
    border-radius: 5px 5px 5px 5px;
    background-color: white;
    color: black;
    padding: 7px;
    display: none;
    position: fixed;
    border: 2px solid #2b13bb;
    border-top: 2px solid #2b13bb;
    border-bottom: 2px solid #2b13bb;
    top: 92%;
    height: 37px;
    width: 37px;
    left: 45.66%;
    font-size: 15px;
    border-bottom: 2px solid #2b13bb;
  }
  .delete-button {
    border: 2px solid #2b13bb;
    padding: 6px 7.3px;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px;
    display: block;
    background-color: white;
    color: black;
    cursor: pointer;
    left: 38.10%;
    position:fixed;
    top: 92%;
    height: 37px;
    width: 37px;
    display: none;
    border-top: 2px solid #2b13bb !important;
    border-bottom: 2px solid #2b13bb !important;
    border-left: 2px solid #2b13bb !important;
    border-right: 2px solid #2b13bb !important;
  }
  
  .leaflet-control-edit-interior {
    font-size: 15px;
    position: fixed!important;
    height: 37px !important;
    width: 37px !important;
    top: 92%!important;
    padding: 2px !important;
    border: 2px solid #2b13bb;
    border-radius: 5px 5px 5px 5px !important;
    /* display: none ; */
    left: 41.90% !important;
    border-bottom: 2px solid #2b13bb !important;
  }
  #saveDataButton {
    border: 2px solid #2b13bb;
    border-bottom: 2px solid #2b13bb;
    border-top: 2px solid #2b13bb;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
    position: fixed;
    color: black;
    padding: 5px 5px;
    padding: 7px !important;
    display: none;
    top:92%;
    font-size: 15px !important;
    height: 37px;
    width: 37px;
    left: 68.35% !important;
  }
  #deleteFeatureButton {
    border: 2px solid #2b13bb;
    border-top: 2px solid #2b13bb;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
    color: black;
    padding: 3px 7px;
    display: none;
    position: fixed;
    top:92%;
    font-size: 14px;
    height: 37px;
    width: 37px;
    left: 72%;

  }
  #editFeatureButton {
    border: 2px solid #2b13bb;
    border-radius: 5px 5px 5px 5px;
    height: 37px !important;
    width: 37px !important;
    display: none;
    position: fixed !important;
    top: 92%;
    left: 64.60%;
    padding: 3px 5px !important;
    background: white;
    font-size: 15px;
    border-bottom: 2px solid #2b13bb;
  }
  .leaflet-draw-actions {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed !important;
    left: 40% !important;
    top: 85%!important;
    white-space: nowrap;
  }
}
  @media only screen and (min-width: 1400px){
    .leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-polyline {
      background-position: 2px 2px !important;
  }
    .draw_feature {
      top: 92%;
      left: 45.55%;
      position: fixed;
      height: 37px !important;
      width: 37px !important;
      border: 2px solid #2b13bb;
      border-radius: 5px 5px 5px 5px;
    }
   
    .custom-button {
      width: auto;
      padding: 9px 5px !important;
      background-color: #fff;
      /* color: darkblue; */
      font-weight: bold;
      font-size:8px !important;
      border: 2px solid #2b13bb;
      border-radius: 5px !important;
      cursor: pointer;
      position:fixed !important;
      top: 90.590% !important;
      left: 47.500% !important;
      height: 37px !important;
      width: 37px !important;
      z-index: 1000 !important;
      transition: background-color 0.1s;
    }
    #editFeatureButton {
      border: 2px solid #2b13bb;
      border-radius: 5px 5px 5px 5px;
      height: 37px !important;
      width: 37px !important;
      /* display: none; */
      position: fixed !important;
      top: 92%;
      left: 50.700%;
      padding: 3px 5px !important;
      background: white;
      font-size: 15px;
      border-bottom: 2px solid #2b13bb;
    }
    #saveDataButton {
      border: 2px solid #2b13bb;
      border-bottom: 2px solid #2b13bb;
      border-top: 2px solid #2b13bb;
      border-radius: 5px 5px 5px 5px;
      background-color: white;
      position: fixed !important;
      color: black;
      padding: 5px 5px;
      display: none;
      padding: 7px !important;
      top:92%;
      font-size: 15px !important;
      height: 37px;
      width: 37px;
      left: 53.250% !important;
    }
    #deleteFeatureButton {
      border: 2px solid #2b13bb;
      border-top: 2px solid #2b13bb;
      border-radius: 5px 5px 5px 5px;
      background-color: white;
      color: black;
      padding: 6px 7.3px ;
      /* display: none; */
      position: fixed;
      top:92%;
      font-size: 14px;
      height: 37px;
      width: 37px;
      left: 55.800%;
  
    }
    .leaflet-draw-draw-polyline {
      top: 92%;
      position: fixed!important;
      left: 43% !important;
      border: 2px solid #2b13bb !important;
      border-bottom: 2px solid darkblue;
      height: 37px !important;
      width: 37px !important;
      /* display: none !important; */
      border-radius: 5px 5px 5px 5px !important;
    }
    .leaflet-draw-draw-polygon {
      left: 40.400% !important;
      position:fixed!important;
      top: 92%!important;
      height: 37px !important;
      width: 37px !important;
      border-bottom: 2px solid #2b13bb !important;
      border-top: 2px solid #2b13bb !important;
      border-left: 2px solid #2b13bb !important;
      border-right: 2px solid #2b13bb !important;
      border-radius: 5px 5px 5px 5px !important;
    }
    
    #save-button {
      /* border: 2px solid rgb(187, 187, 187); */
      border-radius: 5px 5px 5px 5px;
      background-color: white;
      color: black;
      padding: 7px;
      display: none;
      position: fixed;
      border: 2px solid #2b13bb;
      border-top: 2px solid #2b13bb;
      border-bottom: 2px solid #2b13bb;
      top: 92%;
      height: 37px;
      width: 37px;
      left: 35.40%;
      font-size: 15px;
      border-bottom: 2px solid #2b13bb;
    }
    .delete-button {
      border: 2px solid #2b13bb;
      padding: 6px 7.3px;
      font-size: 14px;
      border-radius: 5px 5px 5px 5px;
      display: block;
      background-color: white;
      color: black;
      cursor: pointer;
      left: 32.800%;
      position:fixed;
      top: 92%;
      height: 37px;
      width: 37px;
      display: none;
      border-top: 2px solid #2b13bb !important;
      border-bottom: 2px solid #2b13bb !important;
      border-left: 2px solid #2b13bb !important;
      border-right: 2px solid #2b13bb !important;
    }
    
    .leaflet-control-edit-interior {
      font-size: 15px !important;
      position: fixed!important;
      height: 37px !important;
      width: 37px !important;
      top: 92%!important;
      padding: 2px !important;
      border: 2px solid #2b13bb;
      border-radius: 5px 5px 5px 5px !important;
      /* display: none; */
      left: 37.90% !important;
      border-bottom: 2px solid #2b13bb !important;
    }
    .leaflet-draw-draw-circlemarker {
      position: fixed;
      top: 92%;
      left: 40.500%;
      border-bottom: 2px solid #2b13bb !important;
      border-top: 2px solid #2b13bb !important;
      border-left: 2px solid #2b13bb !important;
      border-right: 2px solid #2b13bb !important;
      border-top: none;
      width: 37px !important;
      height: 37px !important;
      border-radius: 5px 5px 5px 5px !important;
    }
    .leaflet-draw-actions {
      display: none;
      list-style: none;
      margin: 0;
      padding: 0;
      position: fixed !important;
      left: 40% !important;
      top: 86%!important;
      white-space: nowrap;
    }
}

  








