
body {
    overflow: hidden;
}

/* Modal styles */
.modal-content {
    font-size: 14px;
}

.modal-header {
    background-color: #007bff;
    color: white;
    position: sticky !important;
    top: 0px;
    z-index: 9999999;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 0 1rem;
}

.rate {
    display: flex;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 0 20px;

}

.rating input {
    display: none;
}

.rating label {
    cursor: pointer;
    font-size: 1rem;
    color: #ddd;
    transition: color 0.2s;
}


#rating-label {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

/* Ensure the map container has a height */
#map {
    height: 45vh;
    width: 100%;
}

#workDetailsModalLabel {
    font-size: 14px;
    text-align: center;
    justify-content: center;
    margin-left: 8px;
}

#workDetailsModal {
    position: absolute;
    z-index: 99999;
    height: 100vh;
    top: 71px;
    overflow: auto;
    scrollbar-width: thin;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-size: 10px !important;
}

#department,
#fid,
#workId,#username,#contact {

    border: none;
    background: white;

}

.abc1 {
    display: flex;
    gap: 10 ;

}


.abcd {
    display: flex;
    gap: 10 ;

}


.xyz {
    font-size: 12px;
    /* padding: 10px; */
    text-align: center;
    font-weight: bold;
}

#successModal {
    display: block;
    position: absolute;
    width: 285px;
    left: 19px;
    top: 30vh;
}

#workIDInfo {
    display: none;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 7px;
    color: white;
}

.header-logo img {
    width: 40px;
}

.user-info {
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

.user-info .dropdown-toggle::after {
    margin-left: 5px;
}

.user-name {
    margin-right: 5px;
    font-size: 12px;
    color: black;
}

.btn-outline-light.dropdown-toggle {
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
    color: black;
    background-color: white;
    border: 1px solid black;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 6rem;
    padding: .25rem 0;
    margin: .125rem 0 0;
    font-size: 0.85rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .2rem;
}

.btn-outline-light.dropdown-toggle {
    padding: 2px 6px;
    font-size: 0.85rem;
    border-radius: 3px;
    border-color: #333;
}
@media only screen and (min-width: 1400px) {
    .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 7px;
    /* margin: 0 20px; */
    color: white;
}
.header-logo{
   margin-left: 3%;
}
.user-info{
    margin-right: 5%;
}
}



/* Global Styles */
body {
    font-family: Arial, sans-serif;
}

element.style {
    font-size: 22px;
    margin-top: 7px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 20px; */
    height: 60% !important;
}
.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url(images/layers-2x.png);
    background-size: 21px 21px !important;
}
.leaflet-touch .leaflet-control-layers-toggle {
    width: 32px !important ;
    height: 32px !important;
}

form {
    max-width: 1325px;
    margin: auto;
    padding: 12px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* display: flex;
    flex-wrap: wrap; */
   
}

/* Logo Styles */
.logopng1 {
    height: 32px;
    width: 32px;
    /* border: 2px solid #bbb; */
    border-radius: 10px;
    /* background-color: white; */
    padding: 5px;
    position: absolute;
    z-index: 9999;
    top: 3.5%;
    left: 7.5%;
}
/* Map Section Styles */
#map-section {
    margin-top: 20px;
    position: relative;
}

#map {
    top: 0px;
    /* left: -16%; */
    height: 56vh;
    z-index: 0;
    border-radius: 10px;
}

#table-container {
    flex: 1;
    margin-left:0px;
    height: 34vh;
    overflow-x: auto;
    margin-top: 10px;
    border-radius: 10px;
}

.table {
    width: 10%;
}

/* Popup Styles */
.popup-table-container {
    max-width: 300px;
}

.popup-table-container table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.popup-table-container th,
.popup-table-container td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

/* Print Button Styles */
#generatePdfBtn {
    cursor: pointer;
}

/* Geopulse Analytics Link Styles */
.geopulseaname {
    color: darkblue;
    position: absolute;
    z-index: 99999;
    bottom: -0%;
    right: 0%;
    font-weight: bold;
    font-size: 10px;
}
.text-secondary {
    color: #6c757d !important;
    margin-left: 4px;
    font-size: 15px;
}
.pagination button {
    display: inline-block;
    width: 13px;
    height: 25px;
    padding: 0;
    margin: 0 5px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.leaflet-control-attribution a {
    text-decoration: none;
    display: none;
}

.pagination {
    margin-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pagination button {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0 5px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.pagination button:hover {
    background-color: #007bff;
    /* border: 1px solid black; */
}

.pagination button.active {
    width: 35px;
    height: 35px;
    padding: 0;
    background-color: #007bff;
    color: white;
    border: 2px solid #007bff;
    border-radius: 50%;
}

.pagination .arrow {
    background-color: transparent;
    border: none;
}

.pagination .arrow:hover {
    background-color: transparent !important;
    color: inherit;
}

.pagination .arrow:focus {
    outline: none;
}

@media print {
    body {
        size: tabloid landscape;
        margin: 10mm 10mm 10mm 10mm;
    }

    .pagination,
    .geopulseaname,
    #generatePdfBtn {
        display: none;
    }

    table {
        width: 100%;
        font-size: 10pt;
    }
}

.edit-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
    margin-left: 88%;

    font-family: sans-serif !important;
    transition: background-color 0.3s ease;
}


.edit-button:hover {
    background-color: #0056b3;
}

.edit i {
    margin-right: 10px;
}

/* .leaflet-interactive {
    transform: scale(1.2);
} */
#formButton{
   
        position: absolute;
        right: 52px;

}