* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#map {
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.leaflet-container .leaflet-control-attribution {
  display: none;
}

.leaflet-control-zoom {
  position: absolute;
  left: 96vw;
  top: 85vh;
  border: 2px solid darkblue;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  background-clip: padding-box;
  border: 2px solid darkblue;
}

a {
  text-decoration: none;
  color: white;
}

.leaflet-div-icon {
  margin-left: -10px ;
  margin-top: -10px;
  width: 5px;
  height: 5px;
  transform: translate3d(573px, 79px, 0px);
  z-index: 4079;
  background-color: red;
}

.leaflet-draw-edit-marker .leaflet-marker-icon {
  width: 2px;
  height: 2px;
  background-color: red;
}

.leaflet-control-scale-line {
  font-size: 15px; /* Adjust the font size as needed */
}

#table-container {
  background-color: white;
  display: none;
  position: absolute;
  width: 30%;
  height: 40%;
  top: 55%;
  right: 1%;
  overflow: scroll;
  scrollbar-width: thin;
  z-index: 9999;
  transition: 0s;
}

/* 
.close-button {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0px;
  right: 0px;
  padding:0 10px 20px 5px;
  z-index: 999;
  cursor: pointer;
  background-color: transparent;
  color: red;
  font-weight: bold;
  border: none;

  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  z-index: 999999;
}

.close-button:hover{


  background-color: transparent;
  border-radius: 5px;
} */

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ced4da;
  border-top: none;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.ui-widget.ui-widget-content {
  border: 1px solid #c5c5c5;

  z-index: 99999;
}

.ui-menu-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ui-menu-item:hover {
  background-color: #f8f9fa;
  color: #000;
}

.ui-state-active {
  background-color: #007bff;
  color: #fff;
}

.ui-state-focus {
  outline: none;
}

.ui-autocomplete::-webkit-scrollbar {
  width: 8px;
}

.ui-autocomplete::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.ui-autocomplete::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.leaflet-control-scale-line {
  font-size: 10px; /* Adjust the font size as needed */
}

.swal2-show {
  animation: swal2-show 0.3s ease; /* Set the transition with ease */
}

.swal2-show{
  animation: swal2-hide 0.3s ease; /* Set the transition with ease */
}

@keyframes swal2-show {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes swal2-hide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
} 

.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px;
  border: 2px solid darkblue;
  border-radius: 5px;
}
.leaflet-control-layers-list {
  width: 150px;
  height: 200px;
  overflow-y: scroll;
  scrollbar-width: thin;
  font-size: 9px;
  padding: 0px;
  color: darkblue;
}
.leaflet-control-layers-overlays {
  width: 100%;
}

.custom-close-button-class:hover {
  /* Add your custom hover styles for the close button here */
  background-color: #d32f2f; /* Darker red background color on hover */
}
.swal2-show {
  animation: swal2-show 0.3s ease; /* Set the transition with ease */
}

.swal2-hide {
  animation: swal2-hide 0.3s ease; /* Set the transition with ease */
}

@keyframes swal2-show {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes swal2-hide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}
.leaflet-touch .geocoder-control {
  z-index: 9999999;
  position: absolute;
  top: 60px;
  left: 5px;
  padding: 10px;
}
.leaflet-touch .geocoder-control-input {
  height: 35px;
  width: 35px;
  line-height: 30px;
  background-size: 30px;
  left: -5px;
  border: 2px solid darkblue;
}

/* 
.leaflet-touch .geocoder-control-input {
border: 2px solid darkblue;
} */

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid darkblue;
  background-clip: padding-box;
}

/* .leaflet-touch .geocoder-control-suggestions {
  top: 100px
} */

.leaflet-right {
  right: 0;
  position: relative;
  top: 550px;
  /* border: 2px solid darkblue; */
}
.leaflet-right .leaflet-control {
  position: relative;
  margin-right: 10px;
  top: 0px;
  border: 2px solid darkblue;
}

#workTableDashboard {
  position: relative;
  z-index: 800;
  pointer-events: visiblePainted;
  pointer-events: auto;
  /* top: -4px; */
}
*/ #workTableDashboard {
  position: relative;
}

.pagibtn {
  margin: 0 5px;
  background-color: transparent;
  color: #007bff;
}
.pagibtn:hover {
  background-color: transparent;
  color: #007bff;
}

.logopng1 {
  height: 50px;
  width: 50px;
  /* border: 2px solid darkblue; */
  border-radius: 10px;
  /* background-color: white; */
  padding: 5px;
  position: absolute;
  z-index: 9999;
  top: 2%;
  left: 0.5%;
}
.geopulseaname {
  color: darkblue;
  /* border:2px solid darkblue; */
  position: absolute;
  z-index: 99999;
  bottom: -5.5px;
  right: 5px;
  font-weight: bold;
  /* background-color: rgba(173, 216, 230, 0.5); */
  font-size: 10px;
}

.leaflet-popup-content {
  margin: 13px 24px 13px 20px;
  line-height: 1.3;
  font-size: 10px;
  font-size: 1.08333em;
  min-height: 1px;
  width: 240px;
  height: auto;
  max-height: 200px;
  overflow: scroll;
  scrollbar-width: thin;
}

/* .leaflet-popup-content strong{
padding: 5px;
  } */
tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  font-size: 10px;
}
.popup-table tr,
td {
  border-bottom: 1px solid;
  /* padding: 5px; */
}

/* save popup */

.my-custom-popup {
  width: 10%; /* Adjust width */
  min-height: 100px; /* Adjust minimum height */
}

/* Custom class for the popup title */
.my-custom-title {
  font-size: 14px; /* Adjust font size for the title */
  font-weight: bold;
  text-align: center;
}

/* Custom class for the popup text/content */
.my-custom-text {
  font-size: 12px; /* Adjust font size for the text */
  text-align: center;
}
.swal2-popup {
  display: none;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  width: 28em !important;
  /* height: 10em !important; */
  /* max-width: 30%; */
  /* padding: 1.25em !important; */
  border: none;
  border-radius: 5px;
  background: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
  font-size: 14px  !important;
}

.custom-button {
  width: auto;
  padding: 1px 2px;
  background-color: #fff;
  /* color: darkblue; */
  font-weight: bold;
  font-size: 10px !important;
  border: 2px solid #2b13bb;
  border-radius: 5px !important;
  cursor: pointer;
  position: absolute !important;
  top: 673px !important;
  left: 727px !important;
  height: 37px !important;
  width: 37px !important;
 

  transition: background-color  0.1s;
}

.custom-button:hover {
  background-color: #bbb;
}


.leaflet-draw-draw-polyline {
  top: 430px;
  position: absolute;
  left: 645px;
  border: 2px solid #2b13bb !important;
  border-bottom: 2px solid darkblue;
  height: 37px !important;
  width: 37px !important;
  border-radius: 5px 5px 5px 5px !important;
}

/* circle */
.leaflet-draw-draw-circlemarker {
  position: absolute;
  top: 435px;
  left: 605px;
  border-bottom: 2px solid #2B13BB !important;
  border-top: 2px solid #2B13BB !important;
  border-left: 2px solid #2B13BB !important;
  border-right: 2px solid #2B13BB !important;
  border-top: none;
  width: 37px !important;
  height: 37px  !important;
  border-radius: 5px 5px 5px 5px !important;
}

/* circle */
.leaflet-draw-draw-circle {
  position: absolute;
  /* top: -283px; */
  top: -216px;
  left: 56px;
  border-bottom: 2px solid darkblue;
  border: 2px solid darkblue;
  border-top: none;
  width: 30px;
}


#save-button {
  /* border: 2px solid rgb(187, 187, 187); */
  border-radius: 5px 5px 5px 5px;
  background-color: white;
  color: black;
  padding: 7px;
  display: none;
  position: absolute;
  border: 2px solid #2b13bb;
  border-top: 2px solid #2b13bb;
  border-bottom: 2px solid #2b13bb;
  top: 543px;
  height: 37px;
  width: 37px;
  left: 599px;
  font-size: 15px;
  border-bottom: 2px solid #2b13bb;
}
.delete-button {
  border: 2px solid #2b13bb;
  padding: 6px 7.3px;
  font-size: 14px;
  border-radius: 5px 5px 5px 5px;
  display: block;
  background-color: white;
  color: black;
  cursor: pointer;
  left: 518px;
  position: absolute;
  top: 487px !important;
  height: 37px;
  width: 37px;
  display: none;
  border-top: 2px solid #2b13bb;
}

.leaflet-control-edit-interior {
  font-size: 15px;
  position: absolute !important;
  height: 37px !important;
  width: 37px !important;
  top: 500px !important;
  border: 2px solid #2b13bb;
  border-radius: 5px 5px 5px 5px !important;
  display: none;
  left: 560px !important;
  border-bottom: 2px solid #2b13bb !important;
}

/* .leaflet-popup-content-wrapper{
  height: auto;

} */


.leaflet-touch .geocoder-control-input {
  height: 30px;
  line-height: 30px;
  background-size: 30px;
  border: 2px solid darkblue;
  width: 30px;
}

.leaflet-touch .geocoder-control-input:focus {
  width: 300px;
}
/* .custom-button {
left: 650px;
height: 37px;
width: 37px;


} */
.leaflet-draw-actions {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed !important;
  left: 595px !important;
  top: 645px !important;
  white-space: nowrap;
}

.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  right: 0;
  left: 90% !important;
  border: none;
  text-align: center;
  width: 24px;
  height: 24px;
  font: 16px / 24px Tahoma, Verdana, sans-serif;
  color: red !important;
  text-decoration: none;
  background: transparent;
}
.leaflet-popup-tip {
  width: 17px !important;
  height: 17px !important;
  padding: 1px;
  margin: -10px auto 0;
  pointer-events: auto;
  /* -webkit-transform: rotate(45deg); 
  -moz-transform: rotate(45deg) ;
  -ms-transform: rotate(45deg);
   transform: rotate(45deg);  */
}
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 0px !important;
}
.leaflet-popup-content-wrapper, .leafletpopup-tip {
  background: #00000080 !important;
  color: white !important;
  border-radius: 4px !important;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4) !important;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  /* background: rgba(0, 0, 0, 0.5) !important; */
  /* color: #fff !important; */
  /* box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4) !important; */
  width: 20vh !important;
  /* transform: translate3d(1378px, 611px, 0px) !important; */

}
.leaflet-popup-content {
  margin: 10px 23px 12px 20px;
  line-height: 1.3;
  font-size: 10px;
  font-size: 1.08333em;
  /* min-height: 1px; */
  /* width: 240px; */
  /* height: auto; */
  /* max-height: 200px; */
  /* overflow: scroll; */
  /* scrollbar-width: thin; */
}
