.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-polyline {
    background-position: 2px 2px !important;
  }
  #save-button{
    display: none;
  }
  #saveDataButton {
    border: 2px solid #2b13bb;
    border-bottom: 2px solid #2b13bb;
    border-top: 2px solid #2b13bb;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
    position: fixed;
    color: black;
    padding: 0px 5px;
    /* display: none; */
    top: 684px;
    font-size: 19px;
    height: 37px;
    width: 37px;
    left: 750px;
  }

  #saveEditGeomButton {
border: 2px solid #2b13bb;
border-bottom: 2px solid #2b13bb;
border-top: 2px solid #2b13bb;
border-radius: 5px 5px 5px 5px;
background-color: green;
position: fixed;
color: black;
padding: 0px 5px;
top: 87%;
/* changed from 683px */
font-size: 19px;
height: 37px;
width: 37px;
left: 50%;
/* changed from 865px */
}

#deleteEditGeomButton {
border: 2px solid #2b13bb;
border-bottom: 2px solid #2b13bb;
border-top: 2px solid #2b13bb;
border-radius: 5px 5px 5px 5px;
background-color: green;
position: fixed;
color: black;
padding: 0px 5px;
top: 87%;
/* changed from 683px */
font-size: 19px;
height: 37px;
width: 37px;
left: 47%;
/* changed from 865px */
}

  .custom-button {
    width: auto;
    padding: 1px 2px;
    background-color: #fff;
    /* color: darkblue; */
    font-weight: bold;
    font-size: 10px !important;
    border: 2px solid #2b13bb;
    border-radius: 5px !important;
    cursor: pointer;
    /* position: absolute; */
    top: 675px !important;
    left: 780px !important;
    height: 36px !important;
    width: 36px !important;
    position: fixed !important;
    transition: background-color 0.1s;
  }
  #deleteFeatureButton {
    border: 2px solid #2b13bb;
    border-top: 2px solid #2b13bb;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
    color: black;
    padding: 3px 7px;
    /* display: none; */
    position: fixed;
    top: 683px !important;
    font-size: 15px;
    height: 37px;
    width: 37px;
    left: 671px;
  }
  #editFeatureButton {
    border: 2px solid #2b13bb;
    border-radius: 5px 5px 5px 5px;
    height: 37px !important;
    width: 37px !important;
    /* display: none; */
    position: fixed;
    top: 683px;
    left: 711px;
    padding: 5px;
    background: white;
    border-bottom: 2px solid #2b13bb;
  }

#helpButton .icon {
font-size: 10px;
width: 16px;
height: 16px;
}

#helpButton {
position: absolute;
top: 18%;
left: 7.5%;
transform: translateX(-50%);
background-color: white;
border: 2px solid darkblue;
border-radius: 5px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
width: 35px;
height: 35px;
z-index: 1000;
padding: 10px; 
}

#helpButton:hover::after {
content: "HELP"; 
position: absolute;
top: calc(100% + 5px); 
left: 50%; 
transform: translateX(-50%);
background-color: black;
color: white;
border: 1px solid black;
padding: 5px;
border-radius: 5px;
font-size: 12px;
white-space: nowrap; 
z-index: 1000; 
display: none; 
}

#helpButton:hover::after {
display: block; 
}


@media only screen and (min-width: 601px) and (max-width: 900px) {
#helpButton {
top: 18%;
left: 3%; 
}

#helpButton:hover::after {
top: 18%;
left: 3%;
}
}

/* Laptop view (901px to 1200px) */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
#helpButton {
top: 18%;
left: 2.5%;
}

#helpButton:hover::after {
top: 18%;
left: 2.5%;
}
}

/* Desktop view (1201px and up) */
@media only screen and (min-width: 1201px) {
#helpButton {
top: 18%;
left: 2.5%;
}

#helpButton:hover::after {
top: 18%;
left: 2.5%;
}
}

@media only screen and (min-width: 1440px) {
#helpButton {
top: 15%;
left: 2.1%;

}

#helpButton:hover::after {
top:2%; 
left: 170%; 

}
}

